* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
}

.nav-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

ul li {
    list-style: none;
}

ul li a {
    color: hsl(273, 4%, 51%);
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: inherit;
}

nav a {
    font-weight: 600;
}

nav a:hover {
    color: hsl(270, 9%, 17%);
}

a, 
button {
    letter-spacing: .05em;
}

button {
    border: 1px solid hsl(270, 9%, 17%);
    padding: 10px 20px;
    background: transparent;
    color: hsl(270, 9%, 17%);
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}

nav button:hover {
    background-color: hsl(270, 9%, 17%);
    color: white;
}

.hero-cont {
    background-color: hsl(256, 26%, 20%);
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.hero {
    color: white;
    padding-top: 0px;
    position: relative;
    height: 100%;
}

.hero .left {
    width: 50%;
    height: 100%;
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
}

.hero .left .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
}

.hero .left .text hr {
    width: 50%;
    border: 1px solid white;
    margin-bottom: 10px;
}

.hero .left h1 {
    font-size: 44px;
    font-weight: 700;
    width: 85%;
}

.hero button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
}

.hero button:hover {
    color: hsl(256, 26%, 20%);
    background-color: white;
    font-weight: 600;
}

.hero .right {
    width: 50%;
}

.hero img {
    position: absolute;
    height: 100%;
    width: 50%;
    bottom: -20%;
}

.diff-cont {
    margin-top: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.diff {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.diff .head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2em;
}

.diff .head hr {
    border: 1px solid hsl(273, 4%, 51%);
    width: 40%;
}

.diff .head  h2 {
    font-size: 60px;
    font-weight: 600;
    padding-bottom: 40px;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
}

.diff .bottom .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
}

.diff .bottom .box h4 {
    font-size: 25px;
    font-weight: 500;
    color: black;
}

.diff .bottom .box p {
    font-size: 18px;
    font-weight: 400;
    color:  hsl(273, 4%, 51%);
    line-height: 22px;
}

.cta-cont {
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(256, 26%, 20%);
    position: relative;
    height: 200px;
    overflow: hidden;
}

.cta .content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta .txt h2 {
    font-size: 45px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
    top: 0;
    left: 0;
    padding-left: 40px;
    color: white;
}

.cta .butn {
    display: flex;
    justify-self: flex-end;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0%;
    right: 0;
    height: 100%;
    width: 40%;
}

.cta button {
    border: 1.5px solid white;
    color: white;
    padding: 10px 20px;
    font-weight: 500;
}

.cta button:hover {
    color: hsl(256, 26%, 20%);
    background-color: white;
    font-weight: 600;
}

.illustr2 {
    position: absolute;
    object-fit: cover;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.footer-cont {
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 98%);
    overflow: hidden;
}

footer {
   position: relative;
   width: 100%;
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 40px 0;
    z-index: 10;
}

footer .top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: .7px solid hsl(273, 4%, 51%);
    padding-bottom: 25px;
}

footer .top .right img:hover {
    color: hsl(270, 9%, 17%);
    background-color: hsl(270, 9%, 17%);
}

footer .bottom {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 50px;
    gap: 5em;
}

footer .bottom .col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5em;
}

footer .bottom .col h5 {
    font-size: 20px;
    color: hsl(273, 4%, 51%);
    font-weight: 500;
}

footer .bottom ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    gap: .5em;
}

footer .bottom ul li a {
    color: hsl(256, 26%, 20%);
    font-size: 14px;
    font-weight: 500;
}

footer .illustr3 {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 35%;
    transform: rotate(340deg);
    z-index: -1;
}

.desktop-hide {
    display: none;
}

@media screen and (max-width: 420px) {

    body {
        overflow-x: hidden;
    }

    .mobile-hide {
        display: none;
    }

    nav {
        position: relative;
        margin-bottom: 10px;
    }

    nav .right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        right: -250px;
        background-color: white;
        height: 250px;
        width: 150px;
        padding: 10px 20px;
        z-index: 3;
        gap: .5em;
    }

    nav .right h1 {
        font-size: 25px;
        justify-self: flex-end;
        align-self: flex-end;
        border: 1px solid black;
        border-radius: 50%;
        padding: 10px;
    }

    nav .right.active {
        padding: 10px;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 0;
        top: 20px;
        right: 0;
        bottom: -10px;
        width: 100%;
        transition: background-color 100s ease;
        
    }

    nav .right ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    nav .desktop-hide {
        display: block;
        height: 45px;
    }

    .hero-cont {
        height: 1000px;
    }

    .hero {
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        width: 100%;
        gap: 1em;
    }

    .hero .left {
        width: 90%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .hero .left hr {
        display: none;
        margin-bottom: 0;
    }

    .hero .left .text {
        justify-content: center;
        align-items: center;
    }

    .hero .left .text h1 {
        width: auto;
        font-size: 40px;
    }

    .hero .right {
        width: 100%;
        margin-top: 50px;
    }

    .hero .right img {
        position: static;
        width: 100%;
    }

    .diff .head hr {
        display: flex;
        justify-self: center;
        align-self: center;
        border: 1px solid hsl(256, 26%, 20%);
    }

    .diff .head h2 {
        text-align: center;
        font-size: 38px;
    }

    .diff .bottom {
        flex-direction: column;
    }

    .diff .bottom .box {
        justify-content: center;
        align-items: center;
    }

    .diff .bottom .box p {
        text-align: center;
        font-size: 14px;
    }

    .cta {
        height: 250px;
    }

    .cta .content {
        display: flex;
        flex-direction: column;
    }

    .cta .txt {
        height: 20%;
        width: 100%;
        position: absolute;
        right: 0;
        left: 0;
        padding-right: 30px;
        top: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cta .content h2 {
        font-size: 23px;
        text-align: center;
        width: 100%;
        display: flex;
        justify-self: center;
        align-self: center;
        padding-left: 5px;
    }

    .cta .content .butn {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        position: absolute;
        bottom: 0;
        top: 0;
        right: 26%;
        height: 83%;
        width: 100%;
    }

    .illustr2 {
        top: 0;
        bottom: 0;
    }

    footer .top {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }

    footer .bottom {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }

    footer .bottom .col {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer .bottom .col ul {
        justify-content: center;
        align-items: center;
    }

    .col h5 {
        font-size: 22px;
        font-weight: 600;
    }
}